{% extends "base.jinja" %}

{% block content %}
    <table style="width:100%">
        <tr>
            {% for attribute in attributes %}
                <th>{{ attribute }}</th>
            {% endfor %}
        </tr>
        <tr>
            <form action="/add" method="post">
                <th>
                    <input name="fieldnumber" type="number" step="1" required>
                </th>
                <th>
                    <label for="crop"></label>
                    <select id="crop" name="crop" required>
                        <option value="" disabled selected>Bitte auswählen...</option>
                        <option value="WEIZEN">WEIZEN</option>
                        <option value="GERSTE">GERSTE</option>
                        <option value="RAPS">RAPS</option>
                        <option value="HAFER">HAFER</option>
                        <option value="MAIS">MAIS</option>
                        <option value="SONNENBLUMEN">SONNENBLUMEN</option>
                        <option value="SOJA">SOJA</option>
                        <option value="KARTOFFELN">KARTOFFELN</option>
                        <option value="RUEBEN">RUEBEN</option>
                        <option value="HIRSE">HIRSE</option>
                        <option value="TRAUBEN">TRAUBEN</option>
                        <option value="OLIVEN">OLIVEN</option>
                        <option value="PAPPEL">PAPPEL</option>
                        <option value="GRAS">GRAS</option>
                        <option value="RETTICH">RETTICH</option>
                        <option value="LEER">LEER</option>
                    </select>
                </th>
                <th>
                    <label for="precrop"></label>
                    <select id="precrop" name="precrop" required>
                        <option value="" disabled selected>Bitte auswählen...</option>
                        <option value="WEIZEN">WEIZEN</option>
                        <option value="GERSTE">GERSTE</option>
                        <option value="RAPS">RAPS</option>
                        <option value="HAFER">HAFER</option>
                        <option value="MAIS">MAIS</option>
                        <option value="SONNENBLUMEN">SONNENBLUMEN</option>
                        <option value="SOJA">SOJA</option>
                        <option value="KARTOFFELN">KARTOFFELN</option>
                        <option value="RUEBEN">RUEBEN</option>
                        <option value="HIRSE">HIRSE</option>
                        <option value="TRAUBEN">TRAUBEN</option>
                        <option value="OLIVEN">OLIVEN</option>
                        <option value="PAPPEL">PAPPEL</option>
                        <option value="GRAS">GRAS</option>
                        <option value="RETTICH">RETTICH</option>
                        <option value="LEER">LEER</option>
                    </select>
                </th>
                <th>
                    <label for="cycle"></label>
                    <select id="cycle" name="cycle" required>
                        <option value="" disabled selected>Bitte auswählen...</option>
                        <option value="LEER">LEER</option>
                        <option value="H1">H1</option>
                        <option value="H2">H2</option>
                        <option value="B">B</option>
                        <option value="Z">Z</option>
                    </select>
                </th>
                <th>
                    <label for="lime"></label>
                    <select id="lime" name="lime" required>
                        <option value="" disabled selected>Bitte auswählen...</option>
                        <option value="JA">JA</option>
                        <option value="NEIN">NEIN</option>
                    </select>
                </th>
                <th>
                    <label for="fertilizer"></label>
                    <select id="fertilizer" name="fertilizer" required>
                        <option value="" disabled selected>Bitte auswählen...</option>
                        <option value="JA">JA</option>
                        <option value="NEIN">NEIN</option>
                    </select>
                </th>
                <th>
                    <label for="plow"></label>
                    <select id="plow" name="plow" required>
                        <option value="" disabled selected>Bitte auswählen...</option>
                        <option value="JA">JA</option>
                        <option value="NEIN">NEIN</option>
                    </select>
                </th>
                <th>
                    <label for="roll"></label>
                    <select id="roll" name="roll" required>
                        <option value="" disabled selected>Bitte auswählen...</option>
                        <option value="JA">JA</option>
                        <option value="NEIN">NEIN</option>
                    </select>
                </th>
                <th>
                    <label for="status"></label>
                    <select id="status" name="status" required>
                        <option value="" disabled selected>Bitte auswählen...</option>
                        <option value="GEERNTET">GEERNTET</option>
                        <option value="REIF">REIF</option>
                        <option value="WACHSEND">WACHSEND</option>
                        <option value="GESAEHT">GESAEHT</option>
                        <option value="SCHWARZ">SCHWARZ</option>
                    </select>
                </th>
                <th>
                    <input name="fieldsize" type="number" step="0.1" required>
                </th>
                <button type="submit">Senden</button>
            </form>
        </tr>
    </table>
{% endblock %}