{% extends "base.jinja" %}

{% block content %}
    <table style="width:100%">
        <tr>
            {% for attribute in attributes %}
                <th>{{ attribute }}</th>
            {% endfor %}
        </tr>
        <tr>
            <!-- Input for fieldnumber -->
            <th id="fieldnumber">
                {{ fields[0] }}
            </th>
             <form action="/edit/{{ fields[0] }}" method="post">
                <th>
                    <label for="crop"></label>
                    <select id="crop" name="crop" required>
                        <option value="WEIZEN" {% if fields[1] == 'WEIZEN' %}selected{% endif %}>WEIZEN</option>
                        <option value="GERSTE" {% if fields[1] == 'GERSTE' %}selected{% endif %}>GERSTE</option>
                        <option value="RAPS" {% if fields[1] == 'RAPS' %}selected{% endif %}>RAPS</option>
                        <option value="HAFER" {% if fields[1] == 'HAFER' %}selected{% endif %}>HAFER</option>
                        <option value="MAIS" {% if fields[1] == 'MAIS' %}selected{% endif %}>MAIS</option>
                        <option value="SONNENBLUMEN" {% if fields[1] == 'SONNENBLUME' %}selected{% endif %}>SONNENBLUMEN</option>
                        <option value="SOJA" {% if fields[1] == 'SOJA' %}selected{% endif %}>SOJA</option>
                        <option value="KARTOFFELN" {% if fields[1] == 'KARTOFFELN' %}selected{% endif %}>KARTOFFELN</option>
                        <option value="RUEBEN" {% if fields[1] == 'RUEBEN' %}selected{% endif %}>RUEBEN</option>
                        <option value="HIRSE" {% if fields[1] == 'HIRSE' %}selected{% endif %}>HIRSE</option>
                        <option value="TRAUBEN" {% if fields[1] == 'TRAUBEN' %}selected{% endif %}>TRAUBEN</option>
                        <option value="OLIVEN" {% if fields[1] == 'OLIVEN' %}selected{% endif %}>OLIVEN</option>
                        <option value="PAPPEL" {% if fields[1] == 'PAPPEL' %}selected{% endif %}>PAPPEL</option>
                        <option value="GRAS" {% if fields[1] == 'GRAS' %}selected{% endif %}>GRAS</option>
                        <option value="RETTICH" {% if fields[1] == 'RETTICH' %}selected{% endif %}>RETTICH</option>
                        <option value="LEER" {% if fields[1] == 'LEER' %}selected{% endif %}>LEER</option>
                    </select>
                </th>
                <th>
                    <label for="precrop"></label>
                    <select id="precrop" name="precrop" required>
                        <option value="WEIZEN" {% if fields[2] == 'WEIZEN' %}selected{% endif %}>WEIZEN</option>
                        <option value="GERSTE" {% if fields[2] == 'GERSTE' %}selected{% endif %}>GERSTE</option>
                        <option value="RAPS" {% if fields[2] == 'RAPS' %}selected{% endif %}>RAPS</option>
                        <option value="HAFER" {% if fields[2] == 'HAFER' %}selected{% endif %}>HAFER</option>
                        <option value="MAIS" {% if fields[2] == 'MAIS' %}selected{% endif %}>MAIS</option>
                        <option value="SONNENBLUMEN" {% if fields[2] == 'SONNENBLUME' %}selected{% endif %}>SONNENBLUMEN</option>
                        <option value="SOJA" {% if fields[2] == 'SOJA' %}selected{% endif %}>SOJA</option>
                        <option value="KARTOFFELN" {% if fields[2] == 'KARTOFFELN' %}selected{% endif %}>KARTOFFELN</option>
                        <option value="RUEBEN" {% if fields[2] == 'RUEBEN' %}selected{% endif %}>RUEBEN</option>
                        <option value="HIRSE" {% if fields[2] == 'HIRSE' %}selected{% endif %}>HIRSE</option>
                        <option value="TRAUBEN" {% if fields[2] == 'TRAUBEN' %}selected{% endif %}>TRAUBEN</option>
                        <option value="OLIVEN" {% if fields[2] == 'OLIVEN' %}selected{% endif %}>OLIVEN</option>
                        <option value="PAPPEL" {% if fields[2] == 'PAPPEL' %}selected{% endif %}>PAPPEL</option>
                        <option value="GRAS" {% if fields[2] == 'GRAS' %}selected{% endif %}>GRAS</option>
                        <option value="RETTICH" {% if fields[2] == 'RETTICH' %}selected{% endif %}>RETTICH</option>
                        <option value="LEER" {% if fields[2] == 'LEER' %}selected{% endif %}>LEER</option>
                    </select>
                </th>
                <th>
                    <label for="cycle"></label>
                    <select id="cycle" name="cycle" required>
                        <option value="LEER" {% if fields[3] == 'LEER' %}selected{% endif %}>LEER</option>
                        <option value="H1" {% if fields[3] == 'H1' %}selected{% endif %}>H1</option>
                        <option value="H2" {% if fields[3] == 'H2' %}selected{% endif %}>H2</option>
                        <option value="B" {% if fields[3] == 'B' %}selected{% endif %}>B</option>
                        <option value="Z" {% if fields[3] == 'Z' %}selected{% endif %}>Z</option>
                    </select>
                </th>
                <th>
                    <label for="lime"></label>
                    <select id="lime" name="lime" required>
                        <option value="JA" {% if fields[4] == 'JA' %}selected{% endif %}>JA</option>
                        <option value="NEIN" {% if fields[4] == 'NEIN' %}selected{% endif %}>NEIN</option>
                    </select>
                </th>
                <th>
                    <label for="fertilizer"></label>
                    <select id="fertilizer" name="fertilizer" required>
                        <option value="JA" {% if fields[5] == 'JA' %}selected{% endif %}>JA</option>
                        <option value="NEIN" {% if fields[5] == 'NEIN' %}selected{% endif %}>NEIN</option>
                    </select>
                </th>
                <th>
                    <label for="plow"></label>
                    <select id="plow" name="plow" required>
                        <option value="JA" {% if fields[6] == 'JA' %}selected{% endif %}>JA</option>
                        <option value="NEIN" {% if fields[6] == 'NEIN' %}selected{% endif %}>NEIN</option>
                    </select>
                </th>
                <th>
                    <label for="roll"></label>
                    <select id="roll" name="roll" required>
                        <option value="JA" {% if fields[7] == 'JA' %}selected{% endif %}>JA</option>
                        <option value="NEIN" {% if fields[7] == 'NEIN' %}selected{% endif %}>NEIN</option>
                    </select>
                </th>
                <th>
                    <label for="status"></label>
                    <select id="status" name="status" required>
                        <option value="GEERNTET" {% if fields[8] == 'GEERNTET' %}selected{% endif %}>GEERNTET</option>
                        <option value="REIF" {% if fields[8] == 'REIF' %}selected{% endif %}>REIF</option>
                        <option value="WACHSEND" {% if fields[8] == 'WACHSEND' %}selected{% endif %}>WACHSEND</option>
                        <option value="GESAEHT" {% if fields[8] == 'GESAEHT' %}selected{% endif %}>GESAEHT</option>
                        <option value="SCHWARZ" {% if fields[8] == 'SCHWARZ' %}selected{% endif %}>SCHWARZ</option>
                    </select>
                </th>
                <button type="submit">Bestätigen</button>
            </form>
            <!-- Input for fieldsize -->
            <th id="fieldsize">
                {{ fields[9] }}
            </th>
        </tr>
    </table>
    <form action="/delete/{{ fields[0] }}" method="post">
        <button type="submit">Löschen</button>
    </form>
{% endblock %}