<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LS22 Management</title>
</head>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>
    <div><a href="/index">Home</a></div>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>