{% extends "base.jinja" %}

{% block content %}
    <table style="width:100%">
        <tr>
            {% for attribute in attributes %}
                <th>{{ attribute }}</th>
            {% endfor %}
        </tr>
        <tr>
            <!-- Input for fieldnumber -->
            <th id="fieldnumber">
                {{ fields[0] }}
            </th>
            <!-- Input for crop -->
            <th>
                <div class="dropdown">
                <button id="dropdownCrop" type="button" class=" dropdown-toggle" data-bs-toggle="dropdown">
                  {{ fields[1] }}
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','WEIZEN')">WEIZEN</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','GERSTE')">GERSTE</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','RAPS')">RAPS</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','HAFER')">HAFER</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','MAIS')">MAIS</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','SONNENBLUMEN')">SONNENBLUMEN</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','SOJA')">SOJA</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','KARTOFFELN')">KARTOFFELN</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','RUEBEN')">RUEBEN</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','HIRSE')">HIRSE</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','TRAUBEN')">TRAUBEN</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','OLIVEN')">OLIVEN</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','PAPPEL')">PAPPEL</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','GRAS')">GRAS</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','NNGRAS')">NNGRAS</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','RETTICH')">RETTICH</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','LEER')">LEER</a></li>
                </ul>
              </div>
            </th>
            <!-- Input for precrop -->
            <th>
                <div class="dropdown">
                <button id="dropdownPrecrop" type="button" class=" dropdown-toggle" data-bs-toggle="dropdown">
                  {{ fields[2] }}
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','WEIZEN')">WEIZEN</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','GERSTE')">GERSTE</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','RAPS')">RAPS</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','HAFER')">HAFER</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','MAIS')">MAIS</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','SONNENBLUMEN')">SONNENBLUMEN</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','SOJA')">SOJA</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','KARTOFFELN')">KARTOFFELN</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','RUEBEN')">RUEBEN</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','HIRSE')">HIRSE</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','TRAUBEN')">TRAUBEN</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','OLIVEN')">OLIVEN</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','PAPPEL')">PAPPEL</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','GRAS')">GRAS</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','NNGRAS')">NNGRAS</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','RETTICH')">RETTICH</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','LEER')">LEER</a></li>
                </ul>
              </div>
            </th>
            <!-- Input for cycle-->
            <th>
                <div class="dropdown">
                <button id="dropdownCycle" type="button" class=" dropdown-toggle" data-bs-toggle="dropdown">
                  {{ fields[3] }}
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCycle','LEER')">LEER</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCycle','H1')">H1</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCycle','H2')">H2</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCycle','B')">B</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCycle','Z')">Z</a></li>
                </ul>
              </div>
            </th>
            <!-- Input for lime -->
            <th>
                <div class="dropdown">
                <button id="dropdownLime" type="button" class=" dropdown-toggle" data-bs-toggle="dropdown">
                  {{ fields[4] }}
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownLime','JA')">JA</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownLime','NEIN')">NEIN</a></li>
                </ul>
              </div>
            </th>
            <!-- Input for fertilizer -->
            <th>
                <div class="dropdown">
                <button id="dropdownFertilizer" type="button" class=" dropdown-toggle" data-bs-toggle="dropdown">
                  {{ fields[5] }}
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownFertilizer','JA')">JA</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownFertilizer','NEIN')">NEIN</a></li>
                </ul>
              </div>
            </th>
            <!-- Input for plow -->
            <th>
                <div class="dropdown">
                <button id="dropdownPlow" type="button" class=" dropdown-toggle" data-bs-toggle="dropdown">
                  {{ fields[6] }}
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownPlow','JA')">JA</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownPlow','NEIN')">NEIN</a></li>
                </ul>
              </div>
            </th>
            <!-- Input for roll -->
            <th>
                <div class="dropdown">
                <button id="dropdownRoll" type="button" class=" dropdown-toggle" data-bs-toggle="dropdown">
                  {{ fields[7] }}
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownRoll','JA')">JA</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownRoll','NEIN')">NEIN</a></li>
                </ul>
              </div>
            </th>
            <!-- Input for status -->
            <th>
                <div class="dropdown">
                <button id="dropdownStatus" type="button" class=" dropdown-toggle" data-bs-toggle="dropdown">
                  {{ fields[8] }}
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownStatus','GEERNTET')">GEERNTET</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownStatus','REIF')">REIF</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownStatus','WACHSEND')">WACHSEND</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownStatus','GESAEHT')">GESAEHT</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownStatus','SCHWARZ')">SCHWARZ</a></li>
                </ul>
              </div>
            </th>
            <!-- Input for fieldsize -->
            <th id="fieldsize">
                {{ fields[9] }}
            </th>
        </tr>
    </table>
    <button type="button" onclick="confirm()">Bestätigen</button>
    <button type="button" onclick="yeetusDeletus()">Löschen</button>

    <script>
        function updateDropdownText(id, text) {
            document.getElementById(id).innerText = text;
        }
        function yeetusDeletus() {
            const fieldnumber = document.getElementById('fieldnumber').innerText;
            const jsonObject = {
                fieldnumber: fieldnumber
            }
            sendTextToBackend(jsonObject);
            window.location.replace(window.location.origin + "/index")
        }
        function confirm() {
            const fieldnumber = document.getElementById('fieldnumber').innerText;
            const crop = document.getElementById('dropdownCrop').innerText;
            const precrop = document.getElementById('dropdownPrecrop').innerText;
            const cycle = document.getElementById('dropdownCycle').innerText;
            const lime = document.getElementById('dropdownLime').innerText;
            const fertilizer = document.getElementById('dropdownFertilizer').innerText;
            const plow = document.getElementById('dropdownPlow').innerText;
            const roll = document.getElementById('dropdownRoll').innerText;
            const status = document.getElementById('dropdownStatus').innerText;
            const fieldsize = document.getElementById('fieldsize').innerText;
            //console.log(window.location.href);


            const jsonObject = {
                fieldnumber: fieldnumber,
                crop: crop,
                precrop: precrop,
                cycle: cycle,
                lime: lime,
                fertilizer: fertilizer,
                plow: plow,
                roll: roll,
                status: status,
                fieldsize: fieldsize
            };
            sendTextToBackend(jsonObject);
            window.location.replace(window.location.origin + "/index")
        }
        function sendTextToBackend(text) {
            fetch(window.location.href, {  // Ersetze die URL durch die deines Backends
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ text })
            })
            .then(response => response.json())
            .then(data => console.log('Success:', data))
            .catch((error) => console.error('Error:', error));
        }
    </script>
{% endblock %}