{% extends "base.jinja" %}

{% block content %}
    <div>
        <table style="width:100%">
        <!-- Suche nach Attributen-->
          <tr>
              <!-- Input for fieldnumber -->
            <th>
            <th>
                <div class="dropdown">
                <button id="dropdownCrop" type="button" class=" dropdown-toggle" data-bs-toggle="dropdown">

                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','WEIZEN')">WEIZEN</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','GERSTE')">GERSTE</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','RAPS')">RAPS</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','HAFER')">HAFER</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','MAIS')">MAIS</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','SONNENBLUMEN')">SONNENBLUMEN</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','SOJA')">SOJA</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','KARTOFFELN')">KARTOFFELN</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','RUEBEN')">RUEBEN</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','HIRSE')">HIRSE</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','TRAUBEN')">TRAUBEN</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','OLIVEN')">OLIVEN</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','PAPPEL')">PAPPEL</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','GRAS')">GRAS</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','NNGRAS')">NNGRAS</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','RETTICH')">RETTICH</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','LEER')">LEER</a></li>
                </ul>
              </div>
            </th>
            <!-- Input for precrop -->
            <th>
                <div class="dropdown">
                <button id="dropdownPrecrop" type="button" class=" dropdown-toggle" data-bs-toggle="dropdown">

                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','WEIZEN')">WEIZEN</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','GERSTE')">GERSTE</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','RAPS')">RAPS</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','HAFER')">HAFER</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','MAIS')">MAIS</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','SONNENBLUMEN')">SONNENBLUMEN</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','SOJA')">SOJA</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','KARTOFFELN')">KARTOFFELN</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','RUEBEN')">RUEBEN</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','HIRSE')">HIRSE</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','TRAUBEN')">TRAUBEN</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','OLIVEN')">OLIVEN</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','PAPPEL')">PAPPEL</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','GRAS')">GRAS</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','NNGRAS')">NNGRAS</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','RETTICH')">RETTICH</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCrop','LEER')">LEER</a></li>
                </ul>
              </div>
            </th>
            <!-- Input for cycle-->
            <th>
                <div class="dropdown">
                <button id="dropdownCycle" type="button" class=" dropdown-toggle" data-bs-toggle="dropdown">

                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCycle','LEER')">LEER</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCycle','H1')">H1</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCycle','H2')">H2</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCycle','B')">B</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownCycle','Z')">Z</a></li>
                </ul>
              </div>
            </th>
            <!-- Input for lime -->
            <th>
                <div class="dropdown">
                <button id="dropdownLime" type="button" class=" dropdown-toggle" data-bs-toggle="dropdown">

                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownLime','JA')">JA</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownLime','NEIN')">NEIN</a></li>
                </ul>
              </div>
            </th>
            <!-- Input for fertilizer -->
            <th>
                <div class="dropdown">
                <button id="dropdownFertilizer" type="button" class=" dropdown-toggle" data-bs-toggle="dropdown">

                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownFertilizer','JA')">JA</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownFertilizer','NEIN')">NEIN</a></li>
                </ul>
              </div>
            </th>
            <!-- Input for plow -->
            <th>
                <div class="dropdown">
                <button id="dropdownPlow" type="button" class=" dropdown-toggle" data-bs-toggle="dropdown">

                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownPlow','JA')">JA</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownPlow','NEIN')">NEIN</a></li>
                </ul>
              </div>
            </th>
            <!-- Input for roll -->
            <th>
                <div class="dropdown">
                <button id="dropdownRoll" type="button" class=" dropdown-toggle" data-bs-toggle="dropdown">

                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownRoll','JA')">JA</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownRoll','NEIN')">NEIN</a></li>
                </ul>
              </div>
            </th>
            <!-- Input for status -->
            <th>
                <div class="dropdown">
                <button id="dropdownStatus" type="button" class=" dropdown-toggle" data-bs-toggle="dropdown">

                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownStatus','GEERNTET')">GEERNTET</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownStatus','REIF')">REIF</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownStatus','WACHSEND')">WACHSEND</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownStatus','GESAEHT')">GESAEHT</a></li>
                    <li><a class="dropdown-item" href="#" onclick="updateDropdownText('dropdownStatus','SCHWARZ')">SCHWARZ</a></li>
                </ul>
              </div>
            </th>
            <!-- Input for fieldsize -->
            <th>
                <button type="button" onclick="searchByAttributes()">Suchen</button>
            </th>
          </tr>
        <!-- Spaltenbeschreibung-->
          <tr>
              {% for attribute in attributes %}
              <th>{{ attribute }}</th>
              {% endfor %}
          </tr>
        <!-- Zeilen-->

                {% if not fields_type %}
                    <tr>
                        <th><button type="button" onclick=window.location.replace("edit/{{ fields[0] }}")>{{ fields[0] }}</button></th>
                        <th>{{ fields[1] }}</th>
                        <th>{{ fields[2] }}</th>
                        <th>{{ fields[3] }}</th>
                        <th>{{ fields[4] }}</th>
                        <th>{{ fields[5] }}</th>
                        <th>{{ fields[6] }}</th>
                        <th>{{ fields[7] }}</th>
                        <th>{{ fields[8] }}</th>
                        <th>{{ fields[9] }}</th>
                    </tr>
                {% else %}
                    {% for field in fields %}
                        <tr>
                            <th><button type="button" onclick=window.location.replace("edit/{{ field[0] }}")>{{ field[0] }}</button></th>
                            <th>{{ field[1] }}</th>
                            <th>{{ field[2] }}</th>
                            <th>{{ field[3] }}</th>
                            <th>{{ field[4] }}</th>
                            <th>{{ field[5] }}</th>
                            <th>{{ field[6] }}</th>
                            <th>{{ field[7] }}</th>
                            <th>{{ field[8] }}</th>
                            <th>{{ field[9] }}</th>
                        </tr>
                    {% endfor %}
                {% endif %}
        </table>
    </div>
    <script>
    function updateDropdownText(id, text) {
            document.getElementById(id).innerText = text;
        }
        function searchByAttributes() {
            const fieldnumber = "";
            const crop = document.getElementById('dropdownCrop').innerText;
            const precrop = document.getElementById('dropdownPrecrop').innerText;
            const cycle = document.getElementById('dropdownCycle').innerText;
            const lime = document.getElementById('dropdownLime').innerText;
            const fertilizer = document.getElementById('dropdownFertilizer').innerText;
            const plow = document.getElementById('dropdownPlow').innerText;
            const roll = document.getElementById('dropdownRoll').innerText;
            const status = document.getElementById('dropdownStatus').innerText;
            const fieldsize = "";
            let str = window.location.origin;
            //console.log(str);


            const jsonObject = {
                fieldnumber: fieldnumber,
                crop: crop,
                precrop: precrop,
                cycle: cycle,
                lime: lime,
                fertilizer: fertilizer,
                plow: plow,
                roll: roll,
                status: status,
                fieldsize: fieldsize
            };
            sendTextToBackend(jsonObject);
        }
        function sendTextToBackend(text) {
            fetch(window.location.origin, {  // Ersetze die URL durch die deines Backends
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ text })
            })
            .then(response => {
            if (response.redirected) {
                window.location.href = response.url;
            } else {
                return response.json();
            }
        })
            .then(data => console.log('Success:', data))
            .catch((error) => console.error('Error:', error));
        }
    </script>
{% endblock %}