{% extends "base.jinja" %}

{% block content %}
    <div>
        <table style="width:100%">
        <!-- Spaltenbeschreibung-->
          <tr>
              {% for attribute in attributes %}
              <th>{{ attribute }}</th>
              {% endfor %}
          </tr>
        <!-- Zeilen-->

                {% if not fields_type %}
                    <tr>
                        {% for attribute in fields %}
                            <th>{{ attribute }}</th>
                        {% endfor %}
                    </tr>
                {% else %}
                    {% for field in fields %}
                        <tr>
                            {% for attribute in field %}
                                <th>{{ attribute }}</th>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endif %}
        </table>
    </div>
{% endblock %}